<!DOCTYPE html>

<html
  lang="en"
  class="light-style layout-navbar-fixed layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../static/vuexy/assets/"
  data-template="vertical-menu-template"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>Wallets</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../static/vuexy/assets/img/favicon/wallet-solid.ico"/>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Icons -->
    <link rel="stylesheet" href="../static/vuexy/assets/vendor/fonts/fontawesome.css" />
    <link rel="stylesheet" href="../static/vuexy/assets/vendor/fonts/tabler-icons.css" />
    <link rel="stylesheet" href="../static/vuexy/assets/vendor/fonts/flag-icons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="../static/vuexy/assets/vendor/css/rtl/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="../static/vuexy/assets/vendor/css/rtl/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="../static/vuexy/assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="../static/vuexy/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="../static/vuexy/assets/vendor/libs/node-waves/node-waves.css" />
    <link rel="stylesheet" href="../static/vuexy/assets/vendor/libs/typeahead-js/typeahead.css" />
    <link rel="stylesheet" href="../static/vuexy/assets/vendor/libs/select2/select2.css" />
    <link rel="stylesheet" href="../static/vuexy/assets/vendor/libs/formvalidation/dist/css/formValidation.min.css" />
    <link rel="stylesheet" href="../static/vuexy/assets/vendor/libs/animate-css/animate.css" />
    <link rel="stylesheet" href="../static/vuexy/assets/vendor/libs/sweetalert2/sweetalert2.css" />
    <link rel="stylesheet" href="../static/css/wallets.css" />

    <!-- Page CSS -->
    <!-- Helpers -->
    <script src="../static/vuexy/assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Template customizer: To hide customizer set displayCustomizer value false in config.js.  -->
    <script src="../static/vuexy/assets/vendor/js/template-customizer.js"></script>
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="../static/vuexy/assets/js/config.js"></script>
  </head>

  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->

        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
          <div class="app-brand demo">
            <div class="app-brand-link">
              <span class="app-brand-logo demo">
                    <i class="fa-solid fa-wallet fa-beat" style="color: #6770f0;"></i>
              </span>
              <span class="app-brand-text demo menu-text fw-bold">Crypto Wallet</span>
            </div>

            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
              <i class="ti menu-toggle-icon d-none d-xl-block ti-sm align-middle"></i>
              <i class="ti ti-x d-block d-xl-none ti-sm align-middle"></i>
            </a>
          </div>

          <div class="menu-inner-shadow"></div>

          <ul class="menu-inner py-1">
            <li class="menu-item">
              <a href="http://127.0.0.1:8000/profile" class="menu-link">
                <i class="menu-icon tf-icons ti ti-user"></i>
                <div>Profile</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="http://127.0.0.1:8000/wallets" class="menu-link">
                <i class="menu-icon tf-icons ti ti-wallet"></i>
                <div>My Wallets</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="http://127.0.0.1:8000/ibay" class="menu-link">
                <i class="menu-icon tf-icons ti ti-shopping-cart"></i>
                <div>Ibay</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="http://127.0.0.1:8000/chat" class="menu-link chat__link">
                <i class="menu-icon tf-icons ti ti-messages"></i>
                <div>Chat</div>
              </a>
            </li>
          </ul>
        </aside>
        <!-- Layout container -->
        <div class="layout-page">
          <!-- / Navbar -->
                    <nav
            class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
            id="layout-navbar"
          >
            <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
              <ul class="navbar-nav flex-row align-items-center ms-auto">
                <!-- User -->
                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                  <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                    <div class="avatar avatar-online">
                      <img src="https://crypto.fra1.cdn.digitaloceanspaces.com/crypto/default.png" alt class="h-auto rounded-circle profile__img" />
                    </div>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <div class="dropdown-item">
                        <div class="d-flex align-items-center">
                          <div class="flex-shrink-0 me-3">
                            <div class="avatar avatar-online">
                              <img src="https://crypto.fra1.cdn.digitaloceanspaces.com/crypto/default.png" alt class="h-auto rounded-circle profile__img" />
                            </div>
                          </div>
                          <div class="flex-grow-1">
                            <span class="fw-semibold d-block profile__username1"></span>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>
                    <li>
                      <div class="dropdown-item logout_btn" target="_blank">
                        <i class="ti ti-logout me-2 ti-sm"></i>
                        <span class="align-middle">Log Out</span>
                      </div>
                    </li>
                  </ul>
                </li>
                <!--/ User -->
              </ul>
            </div>
          </nav>
          <!-- / Navbar -->
          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->
            <div class="container-xxl flex-grow-1 container-p-y">
              <div class="card bg-white mb-4">
                    <div class="card-header d-flex justify-content-between">
                      <div class="card-title mb-0">
                        <h3 class="mb-0">Wallets</h3>
                      </div>
                    </div>
                    <div class="card-body">
                        <div class="row wallets">
                        </div>
                    </div>
              </div>
            </div>
            <!-- / Content -->
            <!-- Footer -->
            <footer class="content-footer footer bg-footer-theme">
              <div class="container-xxl">
                <div
                  class="footer-container d-flex align-items-center justify-content-between py-2 flex-md-row flex-column"
                >
                  <div>
                    ©
                    <script>
                      document.write(new Date().getFullYear());
                    </script>
                    , made with ❤️ by Avada Media
                  </div>
                </div>
              </div>
            </footer>
            <!-- / Footer -->
            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>
      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>

      <!-- Drag Target Area To SlideIn Menu On Small Screens -->
      <div class="drag-target"></div>
    </div>
        <div class="modal fade" id="sendEthModal" tabindex="-1" aria-hidden="true">
          <div class="modal-dialog modal-xl modal-simple modal-pricing">
            <div class="modal-content">
              <div class="modal-body p-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <h5 class="text-center">Dispatch ETH</h5>
                  <div class="mb-3 row">
                    <label for="sendToInput" class="col-md-2 col-form-label">Send To</label>
                    <div class="col-md-10">
                      <input class="form-control" type="text" id="sendToInput">
                    </div>
                  </div>
                  <div class="mb-3 row">
                    <label for="sendValueInput" class="col-md-2 col-form-label">Value</label>
                    <div class="col-md-10">
                      <input class="form-control" type="number" id="sendValueInput">
                    </div>
                  </div>
                  <button type="button" class="btn btn-success send_eth" data-bs-toggle="modal" data-bs-target="#sendEthReport">Send</button>
              </div>
            </div>
          </div>
        </div>
        <!-- sendEth Modal -->
        <!-- sendEthFinish Modal -->
        <div class="modal fade" id="sendEthReport" tabindex="-1" aria-hidden="true">
          <div class="modal-dialog modal-xl modal-simple modal-pricing">
            <div class="modal-content">
              <div class="modal-body p-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <h5 class="text-center">Dispatch completed.</h5>
                <p class="card-text text-center">Dispatch completed.<a href="#" class="trans_link">Transaction link</a></p>
              </div>
            </div>
          </div>
        </div>
        <!-- sendEthFinish Modal -->
    <!-- / Layout wrapper -->
        <!-- / Fontawesome -->
    <script src="https://kit.fontawesome.com/cce590ac92.js" crossorigin="anonymous"></script>
    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="../static/vuexy/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../static/vuexy/assets/vendor/libs/popper/popper.js"></script>
    <script src="../static/vuexy/assets/vendor/js/bootstrap.js"></script>
    <script src="../static/vuexy/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="../static/vuexy/assets/vendor/libs/node-waves/node-waves.js"></script>


    <script src="../static/vuexy/assets/vendor/libs/hammer/hammer.js"></script>
    <script src="../static/vuexy/assets/vendor/libs/i18n/i18n.js"></script>
    <script src="../static/vuexy/assets/vendor/libs/typeahead-js/typeahead.js"></script>

    <script src="../static/vuexy/assets/vendor/js/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="../static/vuexy/assets/vendor/libs/select2/select2.js"></script>
    <script src="../static/vuexy/assets/vendor/libs/formvalidation/dist/js/FormValidation.min.js"></script>
    <script src="../static/vuexy/assets/vendor/libs/formvalidation/dist/js/plugins/Bootstrap5.min.js"></script>
    <script src="../static/vuexy/assets/vendor/libs/formvalidation/dist/js/plugins/AutoFocus.min.js"></script>
    <script src="../static/vuexy/assets/vendor/libs/cleavejs/cleave.js"></script>
    <script src="../static/vuexy/assets/vendor/libs/cleavejs/cleave-phone.js"></script>
    <script src="../static/vuexy/assets/vendor/libs/sweetalert2/sweetalert2.js"></script>

    <!-- Main JS -->
    <script src="../static/vuexy/assets/js/main.js"></script>
    <!-- Page JS -->
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.9.0/dist/sweetalert2.all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>

    <script>

        const socketio_url = 'http://' + window.location.hostname + ':8001'
        const socket = io(socketio_url);


        socket.on('connect', () => {
            console.log('Connected to server');
        });
        socket.on('disconnect', () => {
            console.log('Disconnected to server');
        });
        socket.on('joined_user', (data) => {
            console.log(data);
        });

        function updateBalance(address) {
            let update_wallet_balance_api_url = window.location.origin + "/api/v1/update_wallet_balance?wallet_address="
            $.ajax({
                method: 'put',
                dataType: 'json',
                headers: {
                    "Content-Type": 'application/json',
                },
                url: update_wallet_balance_api_url + address,
                success: function (data) {
                    $('#walletBalance-' + data['id']).text('Balance: '+data['balance'] + ' ETH')
                },
            })
        }
        socket.on('update_balance', (data) => {
            updateBalance(data['address'])
        });

        socket.on('update_transactions_table', (data) => {
          console.log(data)
          let newTR = $(`
             <tr>
                <td>
                  <a href="#" class="resp-text">${data['transaction']['hash']}</a>
                </td>
                <td>
                  <a href="#" class="resp-text">${data['transaction']['from_address']}</a>
                </td>
                <td>
                  <a href="#" class="resp-text">${data['transaction']['to_address']}</a>
                </td>
                <td>
                  ${data['transaction']['value']}<i class="fa-brands fa-ethereum ms-1" style="color: #7367f0;"></i>
                </td>
                <td>
                  ${data['transaction']['date']}
                </td>
                <td>
                  ${data['transaction']['txn_fee']}<i class="fa-solid fa-gas-pump pb-1 ms-1" style="color: #28c76f;"></i>
                </td>
                <td>
                  ${data['transaction']['status']}
                </td>
             </tr>
           `)
          $(`.trans_tbody_${data['wallet_id']}`).append(newTR)
            // setTransaction(data.address)
        });



        <!-- GetContext -->
        let walletsCount = $('.wallets__count')
        $.ajax({
            url: `/api/v1/user_by_token`,         /* Куда отправить запрос */
            method: 'get',             /* Метод запроса (post или get) */
            dataType: "json",
            contentType: "application/json",
            success: function (data) {   /* функция которая будет выполнена после успешного запроса.  */
              $('.profile__img').each(function () {
                $(this).attr('src',`${data['avatar']}`)
              })
              $('.profile__username1').html(data['username'])
              socket.emit('join', {user_id:data['id'],room: data['id']});
              $.ajax({
                  url: `/api/v1/user_wallets?user=${data['id']}`,   /* Куда отправить запрос */
                  method: 'get',   /* Метод запроса (post или get) */
                  dataType: "json",
                  contentType: "application/json",
                  success: function (data) {   /* функция которая будет выполнена после успешного запроса.  */
                    walletsCount.html(data.length)

                    if (data.length>0){
                      let wallets = $('.wallets')
                      for (let i = 0; i<data.length;i++){
                        let newElem = $(`
                          <div class="col-sm-6 col-md-12 col-xl-12 col-xxl-6">
                            <div class="card mb-3 ">
                              <div class="row g-0">
                                <div class="col-md-2 d-flex justify-content-center align-items-center">
                                  <img class="card-img card-img-left mt-2 mt-md-0" src="${data[i]['asset_img']}" style="width: 100px;height: 100px" alt="Card image">
                                </div>
                                <div class="col-md-10">
                                  <div class="card-body p-3">
                                    <p class="card-text">
                                      Address: <a href="https://sepolia.etherscan.io/address/${data[i]['address']}">${data[i]['address']}</a>
                                    </p>
                                    <p class="card-text" id="walletBalance-${data[i]}">Balance: ${data[i]['balance']} ETH</p>
                                    <button type="button" class="btn btn-info mb-1 watch_trans" data-address="${data[i]['address']}" data-walletid="${data[i]['id']}" data-bs-toggle="modal" data-bs-target="#trans_${data[i]['id']}">Watch Transactions</button>
                                    <button type="button" class="btn btn-success mb-1 send_trans" data-address="${data[i]['address']}" data-walletid="${data[i]['id']}" data-bs-toggle="modal" data-bs-target="#sendEthModal">Send Transaction</button>
                                    <a href="https://sepoliafaucet.com/"><button type="button" class="btn btn-warning mb-1">Get 10 Free ETH</button></a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- Transactions Modal -->
                          <div class="modal fade" id="trans_${data[i]['id']}" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog modal-xl modal-simple modal-pricing">
                              <div class="modal-content">
                                <div class="modal-body p-0">
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  <!-- Pricing Plans -->
                                      <h5 class="text-center">Список транзакций ETH кошелька ${data[i]['address']}</h5>
                                      <div class="table-responsive text-nowrap">
                                        <table class="table" style="max-height: 450px;overflow: scroll;  display:inline-block;">
                                          <thead style="position:sticky;top: 0 ;background-color: white;z-index: 1">
                                            <tr>
                                              <th>Txn Hash</th>
                                              <th>From</th>
                                              <th>To</th>
                                              <th>Value</th>
                                              <th>Age</th>
                                              <th>Txn Fee</th>
                                              <th>Status</th>
                                            </tr>
                                          </thead>
                                          <tbody class="table-border-bottom-0 trans_tbody_${data[i]['id']}">
                                          </tbody>
                                        </table>
                                      </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!--/ Transactions Modal -->
                        `)
                        wallets.append(newElem)
                      }
                    }

                  },
                  error: function (xhr, status, error) {
                    default_error_msg(xhr, status, error)
                  }
              });

            },
            error: function (xhr, status, error) {
              default_error_msg(xhr, status, error)
            }
        });
        $.ajax({
            url: `/api/v1/user_messages`,         /* Куда отправить запрос */
            method: 'get',             /* Метод запроса (post или get) */
            dataType: "json",
            contentType: "application/json",
            success: function (data) {   /* функция которая будет выполнена после успешного запроса.  */
              $('.msgs__count').html(data)
            },
            error: function (xhr, status, error) {
              default_error_msg(xhr, status, error)
            }
        });
        <!-- Get Context -->
        function default_error_msg(xhr, status, error){
          Swal.fire({
                position: 'center',
                icon: 'error',
                title: xhr.responseJSON['detail'],
                showConfirmButton: false,
                timer: 3000
          })
        }

        <!-- LogOut -->

        $('.logout_btn').on('click',function () {
            $.ajax({
                  url: `/api/v1/logout`,         /* Куда отправить запрос */
                  method: 'post',             /* Метод запроса (post или get) */
                  dataType: "json",
                  contentType: "application/json",
                  success: function (data) {   /* функция которая будет выполнена после успешного запроса.  */
                    window.location.href = '/login'
                  },
                  error: function (xhr, status, error) {
                    default_error_msg(xhr, status, error)
                  }
            });
            return false;
        })


        //watch trans
        $('.wallets').on('click','.watch_trans',function () {
          let address = $(this).data('address');
          let walletId = $(this).data('walletid');
          let trans_tbody = $(`.trans_tbody_${walletId}`)
          $.ajax({
                url: `/api/v1/wallet_db_transactions?address=${address}`,         /* Куда отправить запрос */
                method: 'get',             /* Метод запроса (post или get) */
                dataType: "json",
                contentType: "application/json",
                data: "application/json",
                success: function (data) {   /* функция которая будет выполнена после успешного запроса.  */
                  trans_tbody.html('')
                  for(let i = 0; i < data.length;i++){
                    let newTR = $(`
                     <tr>
                        <td>
                          <a href="#" class="resp-text">${data[i]['hash']}</a>
                        </td>
                        <td>
                          <a href="#" class="resp-text">${data[i]['from_address']}</a>
                        </td>
                        <td>
                          <a href="#" class="resp-text">${data[i]['to_address']}</a>
                        </td>
                        <td>
                          ${data[i]['value']}<i class="fa-brands fa-ethereum ms-1" style="color: #7367f0;"></i>
                        </td>
                        <td>
                          ${data[i]['date']}
                        </td>
                        <td>
                          ${data[i]['txn_fee']}<i class="fa-solid fa-gas-pump pb-1 ms-1" style="color: #28c76f;"></i>
                        </td>
                        <td>
                          ${data[i]['status']}
                        </td>
                     </tr>
                   `)
                    trans_tbody.append(newTR)
                  }
                },
                error: function (xhr, status, error) {
                  default_error_msg(xhr, status, error)
                }
            });
        })
        //watch trans

        //send ETH
        
        $('.wallets').on('click','.send_trans',function () {
          $('.send_eth').attr('data-address', $(this).data('address'));
        })
        $('.send_eth').on('click',function () {
          let address = $(this).data('address');
          let sendEthModal = $(`#sendEthModal`);
          let sendValueInput = $(`#sendValueInput`).val();
          let sendToInput = $(`#sendToInput`).val();
          // if (sendToInput.length===42 && sendValueInput!==0) {
          //   return false;
          // }
          let json = {
            'from_address' : `${address}`,
            'to_address' : `${sendToInput}`,
            'value' : Number(sendValueInput)
          }
          $.ajax({
              url: `/api/v1/send_eth`,         /* Куда отправить запрос */
              method: 'post',             /* Метод запроса (post или get) */
              dataType: "json",
              contentType: "application/json",
              data: JSON.stringify(json),
                success: function (data) {   /* функция которая будет выполнена после успешного запроса.  */
                $('.trans_link').attr('href','https://sepolia.etherscan.io/tx/' + data.hash)
              },
              error: function (xhr, status, error) {
                default_error_msg(xhr, status, error)
              }
            });
          return false;
        })
        //send ETH
        // Chat access

        $('.chat__link').on('click',function (e) {
          let chat_access = window.location.origin + '/api/v1/chat_access'
          $.ajax({
                method: 'get',
                dataType: 'json',
                headers: {
                    "Content-Type": 'application/json',
                },
                url: chat_access,
              success: function (data) {
                window.location.href = '/chat'
              },
              error: function (xhr, status, error) {
                default_error_msg(xhr, status, error)
              }

            })
          return false;
        })
        //Chat access


    </script>
  </body>
</html>
